@import "./common/var.css";

.m-switch__button {
  width: var(--switch-width);
  height: var(--switch-height);
  position: relative;
  box-sizing: border-box;
  background-color: var(--switch-bgc);
  border: 1px solid var(--switch-bgc);
  border-radius: calc(var(--switch-height)/2);
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: var(--switch-before-width);
    height: var(--switch-before-height);
    border-radius: calc(var(--switch-height)/2);
    background-color: var(--switch-pseudo-bgc);
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: var(--switch-before-height);
    width: var(--switch-before-height);
    border-radius: 50%;
    background-color: var(--switch-pseudo-bgc);
    box-shadow: 0 1px 3px var(--color-modal);
  }
  &:checked {
    background-color: var(--switch-checked-bgc);
    &:before {
      transform: scale(0);
    }
    &:after {
      transform: translateX(var(--switch-offsetx));
    }
  }
}
